

.activeLnk{
    color: #1584BB !important;
}

.select2-results__options span img,.select2 span img{
    width: 50px ;
    height: 50px;
    border:1px solid #DCDCDC;
    border-radius: 20px;
}

.sign-box{
    margin-top: -90px;
}

.select2-container{
    width: 100% !important;
}

.blue{
    color: #1584BB !important;
}
.payment_logos{
    width: 100px;
}

.logged_menu{
    min-width: 16rem !important;
}

.sub-head-box{
    margin-top: 1px;
}
.sub-card{
    margin-top: 1px;
}